[Unit]
Description=Fcitx 5 Input Method
After=default.target

[Service]
ExecStart=/usr/bin/fcitx5 -d
Restart=on-failure

[Install]
WantedBy=default.target

