/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar-colors.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #ADB6D7;
@define-color background #060000;
@define-color foreground #EAEFF5;
@define-color color0  #060000;
@define-color color1  #983E6B;
@define-color color2  #545D8A;
@define-color color3  #417169;
@define-color color4  #BD9020;
@define-color color5  #BA8D86;
@define-color color6  #929EAA;
@define-color color7  #D9E0E9;
@define-color color8  #989DA3;
@define-color color9  #CB538F;
@define-color color10 #707CB8;
@define-color color11 #57968C;
@define-color color12 #FCC02B;
@define-color color13 #F8BCB2;
@define-color color14 #C3D2E3;
@define-color color15 #D9E0E9;

